<div class="container">
    <a target="_blank" href="https://www.google.com/search?q=Latest%20Coronavirus%20News" class="card">
      <i class="fa fa-search"></i> 
      <p>Latest Corona Virus News</p>
    </a>
    <a target="_blank" href="https://www.google.com/search?q=Right%20way%20to%20wash%20hands" class="card">
        <i class="fa fa-search"></i> 
        <p>Right way to wash hands</p>
      </a>
      <a target="_blank" href="https://www.google.com/search?q=What%20is%20social%20distancing%3F" class="card">
        <i class="fa fa-search"></i> 
        <p>What is self distancing?</p>
      </a>
      <a target="_blank" href="https://www.google.com/search?q=What%20is%20a%20lockdown%3F" class="card">
        <i class="fa fa-search"></i> 
        <p>What is a lockdown?</p>
      </a>
      <a target="_blank" href="https://www.google.com/search?q=Things%20to%20do%20at%20home" class="card">
        <i class="fa fa-search"></i> 
        <p>Things to do at home</p>
      </a>
      <a target="_blank" href="https://www.google.com/search?q=What%20is%20self%20quarantine%3F" class="card">
        <i class="fa fa-search"></i> 
        <p>What is self quarantine?</p>
      </a>
      <a target="_blank" href="https://www.unmc.edu/healthsecurity/index.html" class="card">
        <i class="fa fa-search"></i> 
        <p>Global Center for Health Security</p>
      </a>
      <a target="_blank" href="https://www.who.int/health-topics/coronavirus" class="card">
        <i class="fa fa-search"></i> 
        <p>The World Health Organization (WHO)</p>
      </a>
      <a target="_blank" href="https://repository.netecweb.org/exhibits/show/ncov/ncov" class="card">
        <i class="fa fa-search"></i> 
        <p>National Ebola Training and Education Center (NETEC)</p>
      </a>
      <a target="_blank" href="https://www.osha.gov/SLTC/covid-19/" class="card">
        <i class="fa fa-search"></i> 
        <p>Occupational Safety and Health Administration (OSHA)</p>
      </a>
      <a target="_blank" href="https://www.unwto.org/" class="card">
        <i class="fa fa-search"></i> 
        <p>United Nations World Tourism Organization (UNTWO)</p>
      </a>
    
</div>