<div class="header">
    <div class="header_brand">
        <img src="assets/images/virus.svg" alt="">
        <p>
            COVID'19
        </p>
    </div>
        <ul type="none">
            <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</li>
            <li routerLink="/faq" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">FAQ</li>
            <li routerLink="/importantLinks" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HELPFUL LINKS</li>
        </ul>
</div>