<div class="header">
    <div class="row">
        <div (click)="showDropdown()" routerLink="/" style="cursor: pointer;" class="header_brand">
            <img src="assets/images/virus.svg" alt="">
            <p>
                COVID'19
            </p>
        </div>
        <div class="toggle">
            <button (click)="showDropdown()">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>
        <ul type="none" #nav>
            <li (click)="showDropdown()" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</li>
            <li (click)="showDropdown()" routerLink="/faq" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">FAQ</li>
            <li (click)="showDropdown()" routerLink="/importantLinks" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HELPFUL LINKS</li>
        </ul>
</div>