:host{
    background-color: #fbfbfb;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.card{
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
}
.card:hover{
    background-color: rgb(255, 247, 247);
    border-color:#ff0019
}
.fa-search{
    margin-right: 5px;
    color: #ff0019;
}
p{

    color: #ff0019;
}