:host{
    background-color: #fbfbfb;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    flex: 1;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}
.row:first-child{
    margin-bottom: 10px;
}
.row{
    display: inline-block;
    margin: 0 auto;
}
