.header{
    position: sticky;
    display: flex;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    z-index: 3;
    top: 0;
    background-color: white;
}
.row{
    display: flex;
    justify-content: space-between;
}
.header_brand{
    margin: 0 35px;
    color:#ff0019;
    display: flex;
    align-items: center;
}
.header_brand p{
    padding: 0 10px;
    cursor: pointer;
}
ul{
    display: flex;
    width: 40%;
    padding: 0 ;
    margin: 0 auto;
    align-items: center;
}
ul li{
    cursor: pointer;
    margin-right: 60px;
    padding: 20px 0;
}
ul li:last-child{
    margin-right: 0;
}
.toggle{
    display: none;
    margin-right: 30px;
}
.toggle button{
    padding: 10px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    cursor: pointer;
}
.active{
    color: #ff0019;
    border-bottom: 3px solid #ff0019;
}
@media (max-width:850px){
    ul{
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    ul li{
        margin-right: 0;
    }
    .header{
        flex-direction: column;
    }
    .row{
        padding: 10px 0;
    }
    .toggle{
        display: flex;
        align-items: center;
        justify-content: center;
    }  
}