.card{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.12);
    padding: 20px;
    margin-bottom: 20px;
    height: 300px;
    text-align: center;
}
.card p:first-child{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
.card p:last-child{
    font-size: 15px;
    color: gray;
    margin-top: 20px;
}
