<div class="card">
    <p>Ratio of recovery </p>
    <circle-progress
    [backgroundColor]= "'#fff'"
    [backgroundPadding]= "-4"
  [percent]="71.1"
  [radius]="100"
  [toFixed]="1"
  [outerStrokeWidth]="5"
  [innerStrokeWidth]="40"
  [space] = "-1"
  [outerStrokeGradient]="true"
  [outerStrokeColor]="'#06BA90'"
  [outerStrokeGradientStopColor]= "'#BAFAEB'"
  [innerStrokeColor]="'#e7e8ea'"
  [titleFontSize]= "20"
  [unitsFontSize]= "20"
  [showSubtitle] = "false"
  [animation]="true"
  [animationDuration]="1300"
  [startFromZero]="true"
></circle-progress>
<p>
    857.5k Affected | 157.3k Recovered
</p>
</div>
