.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.12);
    padding: 20px;
    height: 100%;
    flex: 1;
}

.mySlides {display: none;}

img {vertical-align: middle;}

.slideshow-container {
  position: relative;
}
.col:first-child{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .col:last-child{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .col button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FBF6F6;
    color: #FF0019;
    font-weight: 900;
  }
  .col p{
    margin: 20px 0;
    font-weight: 900;
    font-size: 16px;
  }

  .col a,i{
    text-decoration: none;
    color: #FF0019;
    font-weight: 100;
  }
  i{
    font-weight: 100;
  }

.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #FFC4C6;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  height: 10px;
  width: 10px;
  background-color: #FF0019;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media (max-width:410px){
  .card{
    height: 260px;
  }
}
@media (max-width:359px){
  .card{
    height: 320px;
  }
  .mySlides{
    flex-direction: column;
    justify-content: center;
  }
  .mySlides .col:last-child{
     padding: 10px;
  }
  
}