<div class="card" *ngFor="let item of cases;let i=index">
        <div class="col">
            <p>{{item.name}} <span><img width="12px" src="{{item.pointer}}" alt="pointer"></span></p> 
            <p>{{item.count | number}}</p>
        </div> 
        <div class="col">
            <img class="mt-4" height="40px" src="{{item.graph}}" alt="graph">
            <div *ngIf="i===0" class="peak">
                <img src="assets/images/BG-2.svg" alt="message">
                <p >{{item.todayCount | number :'2.1-1'}}k</p>
            </div>    
        </div>
</div>
