<div class="card">
    <div class="top">
        <input class="fontAwesome" type="text" placeholder="&#xf002; Search Location">
    </div>
    <ul type="none">
        <li>
            <div class="country">
                <div class="detail">
                    <div class="name">
                        <img width="20px" src="assets/images/flag.png" alt="">
                        <p style="display: inline-block; margin-left:10px;font-weight: bolder;">India</p>
                    </div>
                    <p style="font-size:10px;color: gray;">7.5k Affected | 0.3k Recovered</p>
                </div>
                <div class="type">
                    <img src="assets/images/Up.svg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="country">
                <div class="detail">
                    <div class="name">
                        <img width="20px" src="assets/images/flag.png" alt="">
                        <p style="display: inline-block; margin-left:10px;font-weight: bolder;">India</p>
                    </div>
                    <p style="font-size:10px;color: gray;">7.5k Affected | 0.3k Recovered</p>
                </div>
                <div class="type">
                    <img src="assets/images/Up.svg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="country">
                <div class="detail">
                    <div class="name">
                        <img width="20px" src="assets/images/flag.png" alt="">
                        <p style="display: inline-block; margin-left:10px;font-weight: bolder;">India</p>
                    </div>
                    <p style="font-size:10px;color: gray;">7.5k Affected | 0.3k Recovered</p>
                </div>
                <div class="type">
                    <img src="assets/images/Up.svg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="country">
                <div class="detail">
                    <div class="name">
                        <img width="20px" src="assets/images/flag.png" alt="">
                        <p style="display: inline-block; margin-left:10px;font-weight: bolder;">India</p>
                    </div>
                    <p style="font-size:10px;color: gray;">7.5k Affected | 0.3k Recovered</p>
                </div>
                <div class="type">
                    <img src="assets/images/Up.svg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="country">
                <div class="detail">
                    <div class="name">
                        <img width="20px" src="assets/images/flag.png" alt="">
                        <p style="display: inline-block; margin-left:10px;font-weight: bolder;">India</p>
                    </div>
                    <p style="font-size:10px;color: gray;">7.5k Affected | 0.3k Recovered</p>
                </div>
                <div class="type">
                    <img src="assets/images/Up.svg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="country">
                <div class="detail">
                    <div class="name">
                        <img width="20px" src="assets/images/flag.png" alt="">
                        <p style="display: inline-block; margin-left:10px;font-weight: bolder;">India</p>
                    </div>
                    <p style="font-size:10px;color: gray;">7.5k Affected | 0.3k Recovered</p>
                </div>
                <div class="type">
                    <img src="assets/images/Up.svg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="country">
                <div class="detail">
                    <div class="name">
                        <img width="20px" src="assets/images/flag.png" alt="">
                        <p style="display: inline-block; margin-left:10px;font-weight: bolder;">India</p>
                    </div>
                    <p style="font-size:10px;color: gray;">7.5k Affected | 0.3k Recovered</p>
                </div>
                <div class="type">
                    <img src="assets/images/Up.svg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="country">
                <div class="detail">
                    <div class="name">
                        <img width="20px" src="assets/images/flag.png" alt="">
                        <p style="display: inline-block; margin-left:10px;font-weight: bolder;">India</p>
                    </div>
                    <p style="font-size:10px;color: gray;">7.5k Affected | 0.3k Recovered</p>
                </div>
                <div class="type">
                    <img src="assets/images/Up.svg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="country">
                <div class="detail">
                    <div class="name">
                        <img width="20px" src="assets/images/flag.png" alt="">
                        <p style="display: inline-block; margin-left:10px;font-weight: bolder;">India</p>
                    </div>
                    <p style="font-size:10px;color: gray;">7.5k Affected | 0.3k Recovered</p>
                </div>
                <div class="type">
                    <img src="assets/images/Up.svg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="country">
                <div class="detail">
                    <div class="name">
                        <img width="20px" src="assets/images/flag.png" alt="">
                        <p style="display: inline-block; margin-left:10px;font-weight: bolder;">India</p>
                    </div>
                    <p style="font-size:10px;color: gray;">7.5k Affected | 0.3k Recovered</p>
                </div>
                <div class="type">
                    <img src="assets/images/Up.svg" alt="">
                </div>
            </div>
        </li>
    </ul>
</div>
