<div class="card">
    <div class="row">
        <div class="col">
            <p style="margin-bottom: 10px;">Total Cases <span><img width="12px" src="assets/images/Up.svg" alt=""></span></p> 
            <p>878,769</p>
        </div> 
        <div class="col" style="position: relative;margin-left: 10px;">
            <img style="margin-top: 4px;" height="40px" src="assets/images/Graph.svg" alt="">
            <div class="peak">
                <img src="assets/images/BG-2.svg" alt="">
                <p style="font-weight: 900;">11.4k</p>
            </div>    
        </div>

    </div>
</div>
