<div class="card">
    <h3>Latest Tweets <span><img src="assets/images/Twweter.svg" alt=""></span></h3>
  <div class="tweets">
      <div *ngFor="let item of tweets" class="tweet">
          <div class="row">
              <div class="col">
                  <img src="{{item.profile}}" alt="">
              </div>
              <div class="col">
                  <p><strong>
                      {{item.username}}
                  </strong> </p>
                  <p style="color: gray;">{{item.tagName}}</p>
              </div>
          </div>
             <p style="font-weight: 530;margin-bottom: 10px;">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vitae cum totam sit deserunt voluptatem, minima sint repellat sunt modi!
             </p>
          <div class="row">
              <div class="col">
                  <img width="13px" src="assets/images/like (1).svg" alt=""> <span style="color: #ff0019;margin-right: 30px;"> {{item.likes}}</span> 
                  <img width="13px" src="assets/images/share (3).svg" alt=""> <span style="color:#54B5F5;"> {{item.share}}</span> 
              </div>
              <div class="col">
                  <p style="color: gray;">27th march</p>
              </div>
          </div>
      </div>   
  </div>
</div>
