<div class="card">
    <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="col">
                <img alt="illustration" src="assets/images/Illustration.svg">
            </div>
            <div class="col">
                <button routerLink="/feed/youtube">YouTube feeds</button>
                <p>What is self distancing</p>
                <a routerLink="/feed/youtube">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        
        <div class="mySlides fade">
            <div class="col">
                <img alt="illustration" src="assets/images/Illustration.svg">
            </div>
            <div class="col">
                <button routerLink="/feed/news">News &amp; Updates</button>
                <p>5 Symptoms of Corona Virus that you should know</p>
                <a routerLink="/feed/news">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        
        <div class="mySlides fade">
            <div class="col">
                <img alt="illustration" src="assets/images/Illustration.svg">
            </div>
            <div class="col">
                <button routerLink="/importantLinks">Helpful links</button>
                <p>Right way to wash hands</p>
                <a routerLink="/importantLinks">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>

        </div>

        <br>
        <div class="dots">
            <span class="dot" (click)="currentSlide(1)"></span> 
            <span class="dot" (click)="currentSlide(2)"></span> 
          <span class="dot" (click)="currentSlide(3)"></span> 
        </div>
</div>
