<div class="container">
    <div class="statics_container">
       <div class="row">
           <app-cases></app-cases>
       </div>
       <div class="row">
           <app-countries></app-countries>
           <app-world-map></app-world-map>
       </div>
       <div class="row">
            <app-spread-chart></app-spread-chart>
            <app-news></app-news>
       </div>
    </div>
    <div class="feeds_container">
            <app-recovery></app-recovery>
            <app-tweets></app-tweets>
    </div>
    <!-- <div class="feeds" routerLink="/feed/youtube">
            <img src="assets/images/youtube.png" alt="">
    </div> -->
</div>