
.container{
    display: flex;
    background-color: #F7F7F7;
    padding: 20px 35px;
    flex-wrap: wrap;
}

.statics_container{
    flex: 2;
}
.feeds_container{
    flex: 1;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
app-cases{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
app-countries{
    flex: 1;
}
app-world-map{
    flex: 2;
    
}
app-spread-chart{
    flex: 1;

}
app-news{
    flex: 1;
}