<div class="card">
    <div class="row">
        <div class="col">
            <h3>Spread Trends</h3>
        </div>
        <div class="col">
            <button (click)="changeClass('confirmed')" [ngClass]="getClass('confirmed')">Confirmed</button>
            <button (click)="changeClass('recovered')" [ngClass]="getClass('recovered')">Recovered</button>
            <button (click)="changeClass('deaths')" [ngClass]="getClass('deaths')">Deaths</button>
        </div>
    </div>
    <div style="width: 100%;height: 300px;padding-top: 20px;">
        <canvas
            baseChart
            [chartType]="'line'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend"
            (chartClick)="onChartClick($event)">
        </canvas>
      </div>
</div>

